<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        background-image: url("https://img.cloudygif.com/full/4e36b24ea217a448.gif");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: white;
	text-align: center;
      }
     hr {border-top : 5px solid white;}
    </style>
    <meta charset="utf-8">
      <title>Manók Weboldala</title>
  </head>
  <body>
    <h1>Szia Jutka!</h1>
    <h1>Ma a Manók egy kis kvízzel készültek, amellyel értékes nyereményeket zsebelhetsz be.</h1>
    <h1 text-align: center>Ha készen állsz, nyomd meg a lenti gombot.</h1>

    <form action="http://80.158.43.29:8000/Jutka/elso">
        <input type="submit" value="Kezdés" />
    </form>

  </body>
</html>
