<!DOCTYPE html>
<html>
    <head>
      <style>
      body {
              background-image: url("https://img.cloudygif.com/full/4e36b24ea217a448.gif");
              background-repeat: no-repeat;
              background-position: center;
              background-size: cover;
              color: white;
           }
      h1 {        text-align: center;
            }
      form {
      margin-left: 540px;
      
      }
     </style>
	     <meta charset="utf-8">
	     <title>Manók Weboldala</title>
	   </head>
           <body>
		   <h1>Mi a rendes neve a Baby Yodának a Mandalorianben?</h1>
		   <form action="/Jutka/harmadik">
       		       <input type="radio" id="elso" name="valasz" value="hamis">
	               <label for="male">Mi lenne? Baby Yoda!</label><br>
		       <input type="radio" id="masodik" name="valasz" value="igaz">
		       <label for="female">Grogu</label><br>
		       <input type="radio" id="harmadik" name="valasz" value="hamis">
		       <label for="other">Grogou</label><br><br>
		       <input type="submit" value="Ellenőrzés">
		   </form> 
	   </body>
</html>
									            
